* {
    margin: 0;
    padding: 0; 
  }
  body{
      background-color:#ffe1a8;
      color: #431B0F;
  }
  .btn{
      opacity: 0.85;
    background-color: #FFE1A8;
    color: #431B0F;
    border-color: #E1B86A;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
align-content: center;
justify-content: center;
vertical-align: middle;
margin: 0.25rem;
}
.btn:hover{
    color: #431B0F;
    border-color: #cb7264;
    background-color: #C9CBA3;
}
  .header, .navbar-toggler, .navbar-collapse{
      color: #431B0F;
      background-color: #e26d5c;
  }
  form, button, a, .btn-navbar{
    color: #431B0F;
    border-color: #a05547;
    background-color: #e26d5c;
  }
  .btn-navbar:hover{
    color: #431B0F;
    border-color: #a05547;
    background-color: #C9CBA3;
  }
 .header{
     margin-top: 2.5%;
     height: 5rem;
     width: 100%;
     margin-bottom: 5rem;
 }
.liked-recipes-button, .shopping-list-button, .website-logo, .search-form{
    margin: 1rem;
    align-content: center;
}
.content-container{
    display: flex;
    align-content: center;
    margin-bottom: 20%;
}
.results-content, .recipe-content, .likes-shopping-content{
    background-color: #FFF8EB;
    text-align: start;
    padding: 1rem;
    border-radius: 10px;
}
.results-list{
    list-style: none;
}
.recipe-details, .recipe-info{
    display: flex;
}
.recipe-info{
    align-content: center;
    padding: 1rem;
}
.recipe-item, .shopping__item{
    display: flex;
}
.recipe-info-item{
    padding: 0.25rem;
}
.fa{
    padding: 0.25rem;
}
.recipe-content-buttons{
    align-items: center;
    align-content: center;
}
.recipe-like-button, .recipe-shop-button{
    align-content: center;
    padding: 0.25rem;
}
.recipe-title{
    align-content: center;
}

h1, h2, h3, h4{
    color: #723D46;
    padding: 0.5rem;
}
ul{
    list-style: none;
    background-color: none;
}
img{
    align-content: center;
}
.list-group-item{
    background-color: transparent;
    list-style: none;
    border: none;
}